#jeopardy{
    text-align: center;
    font-size: 8pt;
    background-color: purple;
    color: white;
    border-collapse: collapse;
  }
  
  #jeopardy th, #jeopardy td {
    border: solid 1px white;
    width: 15em;
    padding: 1em;
  }
  
  th {
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    height: 4em;
    text-shadow: palegoldenrod 1px 1px;
  }
  
  td {
    height: 9em;
    font-family: Copse, serif;
  }
  
  td:hover {
    cursor: pointer;
  }